.jokeCard{
  margin: 5% 25% 0%;
  font-size: x-large;
  background-color: teal;
  border-radius: 2rem;
  padding: 2%;
  color: white;
}


.moreJokes{
  background-color: black;
  border: 0px ;
  font-size: large;
  border-radius: 2rem;
  display: inlinbe;
  margin: 0% 30% 0%;
  width: 25%;
  color: white;
}